.footer {
  background: #111;
  color: #ddd;
  padding: 40px 20px 20px;
  margin-top: 50px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1100px;
  margin: auto;
}

.footer-col {
  flex: 1;
  min-width: 220px;
  margin-bottom: 20px;
}


.footer-col p{
  flex: 1;
  margin-right: 80px;
  /* margin-bottom: 20px; */
}

.footer-col h4 {
  margin-bottom: 15px;
  color: #ff6600;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin: 8px 0;
}

.footer-col ul li a {
  color: #ddd;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-col ul li a:hover {
  color: #ff6600;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #ff6600;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
  font-size: 18px;
  color: #ddd;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #ff6600;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #333;
  padding-top: 15px;
  font-size: 14px;
}
