.navbar {
  position: fixed;    
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;      
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #222;
  color: white;
  box-sizing: border-box;
}

.navbar a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}


body {
  margin: 0;
  padding-top: 65px; 
}

.logout-link {
  margin-left: 20px;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.logout-link:hover {
  text-decoration: underline;
}

